<section class="collection-nav">
  <nav class="nav">
    <a class="nav-link active" href="#details" data-toggle="tab" role="tab" aria-controls="details">Collection details</a>
    <a class="nav-link" href="#deposits" data-toggle="tab" role="tab" aria-controls="deposits">Deposits</a>
  </nav>
</section>
