<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
        breadcrumbs: [{ title: @form.model.head.name, link: collection_path(@form) },
                      { title: 'Edit', omit_title: true }]
      ) %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="collection">
    <%= render Collections::Update::TabsComponent.new(collection: @form.model) %>
    <h1><%= @form.model.head.name %></h1>
    <%= render Collections::Update::SettingsFormComponent.new(collection_form: @form) %>
  </div>
</main>
