<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    confirm_dashboard: true,
    breadcrumbs: [ { title: 'New collection' }]) %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3">
    <div id="editor">
      <h1 class="row">Create a collection</h1>
      <%= render Collections::FormComponent.new(collection_form: @form) %>
    </div>
  </div>
</main>
