<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    breadcrumbs: [ { title: @collection.head.name }]) %>
<% end %>
<main id="content" class="mb-3 mb-md-5">
  <div class="container px-4 px-md-3" id="collection">
    <%= render Collections::Show::TabsComponent.new(collection: @collection) %>
    <%= turbo_stream_from @collection %>
    <%= render @collection %>
  </div>
</main>
