<% @suggestions.each do |value, label| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= value %>" data-autocomplete-label="<%= label %>"><%= html_escape(label) %></li>
<% end %>
