<tr>
    <td><%= filename %>
        <% if can_download? %>
            <%= link_to path, class: 'ms-2', data: { turbo: false } do %>
                <span class="fa-solid fa-download" aria-hidden="true"></span><span class="visually-hidden">Download</span>
            <% end %>
        <% end %>
    </td>
    <td><%= label %></td>
    <td><%= hide? ? 'Yes' : 'No' %></td>
</tr>
