<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
        breadcrumbs: [{ title: 'User profile' }]
      ) %>
<% end %>
<main id="content">
  <div class="container">
    <h1>User profile</h1>
    <p>Edit the communication preferences for the collections listed below by clicking on the pencil icon.</p>

    <table class="table caption-header">
      <caption>Communication preferences for collections</caption>
      <tbody>
      <% @collections.each do |collection| %>
        <tr>
            <td>
                <%= title = CollectionTitlePresenter.show(collection.head) %>
                <%= link_to edit_collection_mail_preferences_path(collection), aria: { label: "Edit communication preferences for #{title}" } do %>
                    <span class="fa-solid fa-pencil"></span>
                <% end %>
            </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>
