<%= link_to collection_path(collection), method: :delete, aria: { label: "Delete #{collection.name}" }, data: { confirm: "Are you sure you want to delete this draft collection? It cannot be undone." } do %>
  <span class="far fa-trash-alt"></span>
<% end %>
