<table class="table table-sm mb-5 caption-header">
  <caption>Details
    <%= helpers.turbo_frame_tag dom_id(collection_version, :edit),
          src: edit_link_collection_version_path(
            collection_version,
            label: "Edit details"
          ),
          target: "_top" %>
  </caption>

  <tbody>
    <tr>
      <th class="col-3">Collection name</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th class="col-3">Description</th>
      <td><%= simple_format description, class: "mb-3" %></td>
    </tr>
    <tr>
      <th class="col-3">Contact emails</th>
      <% if contact_emails.empty? %>
      <td>None provided</td>
      <% else %>
      <td>
        <% contact_emails.each do |email| %>
         <p><%= email.email %></p>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
