<table class="table table-sm mb-5">
  <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Details
        <%= render Collections::EditLinkComponent.new(collection: collection, anchor: '', label: 'Edit details') %>
      </th>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Collection name</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= description %></td>
    </tr>
    <tr>
      <th>Contact emails</th>
      <% if contact_emails.empty? %>
      <td>None provided</td>
      <% else %>
      <td>
        <% contact_emails.each do |email| %>
         <%= email.email %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
