<table class="table table-sm mb-5 caption-header">
  <caption>Details
    <%= link_to edit_collection_version_path(collection_version), aria: { label: 'Edit details' } do %>
      <span class="fa-solid fa-pencil-alt edit" aria-hidden="true"></span>
    <% end %>
  </caption>

  <tbody>
    <tr>
      <th class="col-3">Collection name</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th class="col-3">Description</th>
      <td><%= simple_format description, class: 'mb-3' %></td>
    </tr>
    <tr>
      <th class="col-3">Contact emails</th>
      <% if contact_emails.empty? %>
      <td>None provided</td>
      <% else %>
      <td>
        <% contact_emails.each do |email| %>
         <p><%= email.email %></p>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
