<table class="table table-sm mb-5 caption-header">
  <caption>Details
    <%= link_to edit_collection_version_path(collection_version), aria: { label: 'Edit details' } do %>
      <span class="fas fa-pencil-alt edit" aria-hidden="true"></span>
    <% end %>
  </caption>

  <tbody>
    <tr>
      <th>Collection name</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= description %></td>
    </tr>
    <tr>
      <th>Contact emails</th>
      <% if contact_emails.empty? %>
      <td>None provided</td>
      <% else %>
      <td>
        <% contact_emails.each do |email| %>
         <%= email.email %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
