<table class="table table-sm mb-5 caption-header">
  <caption>Links to related information
    <%= render Collections::EditLinkComponent.new(collection_version: collection_version, anchor: 'links', label: 'Edit links to related information') %>
  </caption>
  <tbody>
    <tr>
      <th scope="row">Related links</th>
      <% if related_links.empty? %>
        <td>None provided</td>
      <% else %>
        <td>
          <% related_links.each do |link| %>
            <p><%= link_to link.link_title, link.url %></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
