<table class="table table-sm mb-5">
  <caption>Collection participants
    <%= render Collections::EditLinkComponent.new(collection: collection, anchor: 'participants', label: 'Edit collection participants') %>
  </caption>
  <tbody>
    <tr>
      <th>Managers</th>
      <td><%= managers %></td>
    </tr>
    <tr>
      <th>Depositors</th>
      <td><%= depositors %></td>
    </tr>
  </tbody>
</table>
