<table class="table table-sm mb-5">
  <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Collection participants</th>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Managers</th>
      <td><%= managers %></td>
    </tr>
    <tr>
      <th>Depositors</th>
      <td><%= depositors %></td>
    </tr>
  </tbody>
</table>
