<table class="table table-sm mb-5 caption-header">
  <caption>Release and visibility
    <%= render Collections::EditLinkComponent.new(collection: collection, anchor: 'release_details', label: 'Edit release options') %>
  </caption>
  <tbody>
    <tr>
      <th>Release</th>
      <td><%= release_option %></td>
    </tr>
    <tr>
      <th>Visibility</th>
      <td><%= access %></td>
    </tr>
  </tbody>
</table>
