<table class="table table-sm mb-5">
  <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3" colspan="2">Release and visibility of information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Release</th>
      <td><%= release_option %></td>
    </tr>
    <tr>
      <th>Visibility</th>
      <td><%= access %></td>
    </tr>
  </tbody>
</table>
