<table class="table table-sm mb-5">
  <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Terms of use and licenses</th>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Terms of use</th>
      <td><%= I18n.t(:terms_of_use) %></td>
    </tr>
    <tr>
      <th>License</th>
      <td><%= default_license %></td>
    </tr>
  </tbody>
</table>
