<table class="table table-sm mb-5 caption-header">
  <caption>Terms of use and licenses
    <%= helpers.turbo_frame_tag dom_id(collection, :edit_terms),
                                src: edit_link_collection_path(collection,
                                       ref: 'terms',
                                       label: 'Edit terms of use and license') %>
  </caption>
  <tbody>
    <tr>
      <th>Terms of use</th>
      <td><%= I18n.t(:terms_of_use) %></td>
    </tr>
    <% if user_can_set_license? %>
      <tr>
        <th>Default license (depositor selects)</th>
        <td><%= default_license %></td>
      </tr>
    <% else %>
      <tr>
        <th>Required license</th>
        <td><%= required_license %></td>
      </tr>
    <% end %>
  </tbody>
</table>
