<section class="version">
   <header>Version your work *</header>
   <div class="mb-3 row">
     <%= form.label :version_description, "What's changing? *", class: 'col-sm-2 col-form-label' %>
     <div class="col-sm-10">
       <%= form.text_field :version_description, class: "form-control", required: true %>
     </div>
   </div>
 </section>
 