<table class="table table-sm mb-5 caption-header">
  <caption>Review workflow
    <%= render Collections::EditLinkComponent.new(collection_version: collection_version, anchor: 'review', label: 'Edit review workflow') %>
  </caption>
  <tbody>
    <tr>
      <th>Status</th>
      <td><%= review_workflow_status %></td>
    </tr>
    <tr>
      <th>Reviewers</th>
      <td><%= reviewers %></td>
    </tr>
  </tbody>
</table>
