<table class="table table-sm mb-5">
  <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Review workflow<%= edit_link('review', "Edit review workflow") %></th>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Status</th>
      <td><%= review_workflow_status %></td>
    </tr>
    <tr>
      <th>Reviewers</th>
      <td><%= reviewers %></td>
    </tr>
  </tbody>
</table>
