<main id="content">
  <div class="container" id="dashboard">
    <h1>Admin dashboard</h1>

    <div class="row">
      <div class="col-md-4">
        <select onchange="window.location.href = this.value" class="form-select">
            <option value="<%= admin_path %>">Admin page</option>
            <option value="/admin/other">Other page</option>
        </select>
      </div>
    </div>
  </div>
</main>