<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(admin: true)%>
<% end %>
<main id="content">
  <div class="container" id="dashboard">
    <h1>Admin dashboard</h1>

    <%= render Admin::NavigationComponent.new %>
  </div>
</main>
