<section>
  <header>Add your files</header>
  <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2000" data-dropzone-max-files="1000">
    <%= form.file_field :files, multiple: true, direct_upload: true,
                        data: { target: 'dropzone.input progress.fileField',
                                'progress-step': 'file',
                                action: "change->progress#check" } %>
    <div class="dz-message needsclick text-secondary">
      <header>Drag files here to upload or click here to browse</header>
      <span class="small">2 GB file size maximum.</span>
    </div>
  </div>
</section>
