<nav class="breadcrumbs">
  <nav id="breadcrumbs" aria-label="breadcrumb" class="container-xxl">
    <ol class="breadcrumb">
      <% breadcrumbs.each do |breadcrumb| %>
        <li class="breadcrumb-item">
          <% if breadcrumb[:link].blank? %>
            <span class="breadcrumb-link"><%= breadcrumb[:title] %></span>
          <% else %>
            <%= link_to breadcrumb[:title].presence || 'No title',
                        breadcrumb[:link], class: 'breadcrumb-link',
                        data: (breadcrumb[:confirm] ? { confirm: 'Are you sure you want to leave this page? Your changes will not be saved.' } : nil) %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
</nav>
