<section>
  <header>Date content was created</header>
  <div class="mb-3 row">
    <%= form.label :created_etdf, 'Date created', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :created_etdf, class: "form-control", required: true %>
    </div>
  </div>
</section>
