<div class="row">
  <ul id="depositProgress" class="col-lg-7">
    <li>1. File</li>
    <li>2. Type</li>
    <li class="<%= 'active' if title? %>">3. Title</li>
    <li>4. Author</li>
    <li>5. Date</li>
    <li>6. Description</li>
    <li>7. Release</li>
    <li>8. License</li>
  </ul>

  <div class="col-lg-5">
    
  </div>

</div>
