
<div class="form-check">
  <%= form.check_box(:collection, { multiple: true, class: 'form-check-input' }, label) %>
  <%= form.label :collection, label, value: label, class: 'form-check-label' %>
  <%= render PopoverComponent.new(key: description_key, scope:) %>
</div>
