<a id="popover-<%= key %>" tabindex="0" data-controller="popover" data-bs-placement="top" data-bs-content="<%= text %>" data-bs-html="true" class="info-icon">
  <span class="<%= icon %>" aria-hidden="true"></span><span class="visually-hidden">more information</span>
</a>
