<section>
   <header>Descriptive title of this deposit for library catalog and contact information</header>
   <div class="mb-3 row">
     <label for="title"class="col-sm-2 col-form-label">Title of deposit</label>
     <div class="col-sm-10">
       <input id="title" data-motion="add" class="form-control">
     </div>
   </div>
   <div>Child <%= text %> </div>
 </section>
