<section>
   <header>Title of deposit and contact information</header>
   <div class="mb-3 row">
     <%= form.label :title, 'Title of deposit', class: 'col-sm-2 col-form-label' %>
     <div class="col-sm-10">
       <%= form.text_field :title, class: "form-control", required: true %>
     </div>
   </div>

   <div class="mb-3 row">
     <%= form.label :contact_email, 'Contact e-mail', class: 'col-sm-2 col-form-label' %>
     <div class="col-sm-10">
       <%= form.email_field :contact_email, class: "form-control", required: true %>
     </div>
   </div>
 </section>
