<section>
   <header>Type of <%= work_type %> deposit</header>
   <%= form.label :subtype, "Type of #{work_type} deposit", class: "sr-only" %>
   <%= form.select :subtype, ['Book'], {}, class: "form-select" %>
   <%= form.hidden_field :work_type %>
 </section>
