<p>Dear <%= @user.first_name %>,</p>

<p>You should have received an email from "Globus Notification" with a link to the location we created for you to transfer your files.</p>

<ol>
  <li>Please transfer your files to the above location in Globus using these <%= link_to 'instructions', "#{Settings.globus.help_doc_url}/edit?pli=1#heading=h.f2rvtrjiw01" %>.</li>
  <li><%=link_to 'Return to your item', work_url(@work)%> at sdr.stanford.edu and click the pencil icon to edit your draft.</li>
  <li>Check the box in the "Add your files" section to indicate that you have uploaded your files to Globus.</li>
  <li>Scroll to the bottom and click "Save as draft" to finish your deposit later, or click "Deposit" to complete your deposit.</li>
</ol> 

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>



