<p>Dear <%= @user.first_name %>,</p>

<p>You have initiated a deposit of more than 10 GB of content in the Stanford Digital Repository. Please follow the steps below to complete this deposit.</p>

<h2>Step 1</h2>
<p>You will need to use Globus to transfer the files for this deposit to us.  Click the link below and follow the instructions to access Globus and complete setup.</p>

<p>Instructions <%= link_to Settings.globus.help_doc_url, Settings.globus.help_doc_url %></p>

<h2>Step 2</h2>
<p>Once you have completed the setup as outlined in the above instructions, return to your item and click the button that says "Globus setup complete." We will then email you the link to the Globus collection/endpoint where you can upload your files for this deposit.</p>

<p>If you have any questions, contact the SDR team at <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
