<p>Dear Administrator,</p>

<%= @user.sunetid %> has attempted to edit <%= @work_title %> (<%= @work.id %>) in the <%= @collection_name %> collection and has encountered a version mismatch error.


<p>The Stanford Digital Repository Team</p>
