<p>Dear <%= @user.name %>,</p>

<p>The Depositor <%= @depositor.name %> has created a draft / submitted a deposit / started a new version
  in the <%= @collection.name %> collection.
  </p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
