<p>Dear <%= @user.first_name %>,</p>

<p>Your collection "<%= @collection_version.name %>" has been removed from the Stanford Digital Repository.</p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
