<p>Dear <%= @user.name %>,</p>

<p>A Manager of the <%= @collection_version.name %> collection has updated the permissions
   for this collection and removed you as a Depositor. You no longer have permission
   to deposit to this collection. Please contact the collection Managers below
   if you have questions about this change.</p>

<p>Collection Managers:<br>
  <% @collection.managed_by.each do |manager| %>
    <%= manager.email %><br>
  <% end %>
</p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
