<p>Dear <%= @user.name %>,</p>

<p>The Depositor <%= @depositor.name %> has submitted a deposit in the <%= @collection_version.name %> collection.</p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
