version: 2.1
orbs:
  ruby-rails: sul-dlss/ruby-rails@1.1.0
workflows:
  build:
    jobs:
      - ruby-rails/lint:
          name: lint
      - ruby-rails/test-rails:
          name: test
          install-chrome: true
