<%= turbo_frame_tag dom_id(work, :delete) do %>
  <% if allowed_to?(:delete?, work) %>
    <%= link_to work_path(work), method: :delete, aria: { label: "Delete #{work.head.title}" }, data: { confirm: "Are you sure you want to delete this draft work? It cannot be undone." } do %>
        <span class="far fa-trash-alt"></span>
    <% end %>
  <% end %>
<% end %>
