<%= turbo_frame_tag dom_id(work, :edit) do %>
  <% if allowed_to?(:edit?, work) %>
    <%= link_to [:edit, work], aria: { label: "Edit #{Works::DetailComponent.new(work: work).title}" } do %>
      <span class="fas fa-pencil-alt"></span>
    <% end %>
  <% end %>
<% end %>
