<%= turbo_frame_tag dom_id(work, :edit) do %>
  <% if allowed_to?(:edit?, work.head) %>
    <% if work.purl_reservation? %>
      <%= link_to '',
            data: {
              destination: update_type_work_path(work),
              form_method: 'patch',
              bs_toggle: 'modal',
              bs_target: '#workTypeModal',
              action: "work-type#set_collection"
            },
            aria: { label: "Choose Type and Edit #{WorkTitlePresenter.show(work.head)}" } do %>
        <span class="fas fa-pencil-alt" aria-hidden="true"></span>
      <% end %>
    <% else %>
      <%= link_to [:edit, work], aria: { label: "Edit #{WorkTitlePresenter.show(work.head)}" } do %>
        <span class="fas fa-pencil-alt" aria-hidden="true"></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
