<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    breadcrumbs: [ { title: @form.collection.head.name, link: collection_path(@form.collection) },
                   { title: @form.title, link: work_path(@form.model) },
                   { title: 'Edit' } ])
  %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3">
    <%= render Works::FormComponent.new(work_form: @form) %>
  </div>
</main>
