<%= turbo_frame_tag dom_id(@work, :globus_file_info) do %>
  <div>Found <%= number_to_human(@files_count) %> files totaling <%= number_to_human_size(@total_size) %> uploaded to Globus.</div>
<% end %>
