<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    breadcrumbs: [ { title: @work.collection.head.name, link: collection_path(@work.collection) },
                   { title: @work.head.title } ]) %>
<% end %>

<div class="container" id="next-step">
  <h1 class="mb-3"><span class="fas fa-check-circle me-3"></span>You have successfully deposited your work</h1>
  <h2>Here's what to expect next:</h2>
  <ul>
    <li>The managers and reviewers on this collection have received a notice that your deposit was submitted.</li>
    <li>They will be prompted to review your deposit and either approve it or return it to you for changes.</li>
    <li>You will receive an email notification when your deposit is either approved or returned to you for changes.</li>
    <li>If you have questions about the review process for your deposit, please contact the managers or reviewers for this collection,
        which can be found on the Collections settings page</li>
  </ul>

  <%= link_to 'Return to dashboard', dashboard_path, class: 'btn btn-primary' %>
</div>
