<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
        breadcrumbs: [{ title: CollectionTitlePresenter.show(@work.collection.head), link: collection_path(@work.collection) },
                      { title: WorkTitlePresenter.show(@work.head) }]
      ) %>
<% end %>

<% cache [current_user, @work] do %>
  <style>
    <% if current_user != @work.owner %>
      .visible-to-depositor {
        display: none;
      }
    <% end %>
  </style>
<% end %>

<main id="content" class="mb-3 mb-md-5">
  <div class="container" id="work">
    <%= render Works::ApprovalComponent.new(work_version: @work.head) %>
    <%= turbo_stream_from @work %>
    <%= render @work %>
  </div>
</main>
