<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    breadcrumbs: [ { title: CollectionTitlePresenter.show(@form.collection.head), link: collection_path(@form) },
                   { title: 'Edit First Draft', omit_title: true } ]) %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="collection">
    <h1><%= CollectionTitlePresenter.show(@form.collection.head) %></h1>
    <%= render FirstDraftCollections::Update::FormComponent.new(collection_form: @form) %>
  </div>
</main>
