<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
        breadcrumbs: [{title: "New collection"}]
      ) %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3">
    <div id="editor">
      <h1>Create a collection</h1>
      <%= render FirstDraftCollections::Create::FormComponent.new(collection_form: @form) %>
    </div>
  </div>
</main>
