<section class="mb-5 allCollections">
  <%= form_with url: search_path, method: :get, local: false,
                data: { controller: 'find-druid', type: 'html', action: 'ajax:error->find-druid#onFailure' },
                class: "row row-cols-lg-auto g-3 align-items-center float-end" do %>
    <div class="col-12">
      <label class="visually-hidden" for="q">Druid</label>
      <input type="search" name="q" class="form-control" placeholder="Druid" />
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Search</button>
    </div>
  <% end %>

  <button class="btn collapse-header" data-bs-toggle="collapse" data-bs-target="#collectionsTable" role="button" aria-expanded="false" aria-controls="collectionsTable">
    All Collections
  </button>
  <table class="table table-sm collapse" id="collectionsTable" data-controller="datatables" data-datatables-selector-value="collections">
    <thead class="table-light">
      <tr>
        <th>Collections</th>
        <th>Total</th>
        <th>Deposited</th>
        <th>1st Draft</th>
        <th>Version draft</th>
        <th>Pending</th>
        <th>Returned</th>
        <th>Reserved</th>
        <th>Last modified</th>
      </tr>
    </thead>
    <tbody>
      <% stats.each do |collection, counts| %>
        <%= render Dashboard::AllCollectionsRowComponent.new(collection: collection, counts: counts) %>
      <% end %>
    </tbody>
  </table>
</section>
