<%= link_to name, collection %>
<% if depositing? %>
  <span class="state">Depositing <%= spinner %></span>
<% else %>
  <%= edit_link %>
  <%= render Collections::DeleteButtonComponent.new(collection_version: collection_version) %>
<% end %>
