<%= link_to name, collection %>
<% if depositing? %>
  <span class="state">Depositing <%= spinner %></span>
<% else %>
  <%= render Collections::EditLinkComponent.new(collection_version: collection_version, label: "Edit #{name}") %>
  <%= helpers.turbo_frame_tag dom_id(collection, :delete), src: delete_button_collection_path(collection) if first_draft?%>
<% end %>
