<%= link_to name, collection %>
<% if depositing? %>
  <span class="state">Depositing <%= spinner %></span>
<% else %>
  <%= render Collections::EditLinkComponent.new(collection: collection, anchor: '', label: "Edit #{name}") %>
  <%= render Collections::DeleteComponent.new(collection: collection) %>
<% end %>
