<%= link_to name, collection %>
<% if depositing? %>
  <span class="state">Depositing <%= spinner %></span>
<% else %>
  <%= helpers.turbo_frame_tag dom_id(collection, :edit),
                              src: edit_link_collection_path(collection),
                              target: '_top' %>
  <%= helpers.turbo_frame_tag dom_id(collection, :delete), src: delete_button_collection_path(collection) if first_draft? %>
<% end %>
