<div class="row">
  <div class="col-4">
    <%= show_collection_link %>
  </div>
  <div class="col-3">
    <%= link_to 'Complete draft', edit_collection_version_path(collection.head), class: "mb-2 btn btn-primary" %>
  </div>
  <div class="col-5">
    <%= render Collections::DeleteButtonComponent.new(collection_version: collection_version) %>
  </div>
</div>
