<section class="mb-5" id="collections-in-progress">
  <header>Collections in progress</header>
  <%= render Dashboard::InProgressCollectionRowComponent.with_collection(collection_managers_in_progress) %>
</section>
