<div class="page-content-message-dashboard-<%= location %>">
    <p><i class="fa-solid fa-asterisk yellow"></i> <%= page_content.value %> <%= link_to page_content.link_text, page_content.link_url if page_content.link_visible %></p>
</div>
