<div class="page-content-message-dashboard-<%=location%>">
    <p><i class="fa-solid fa-star-of-life" style="color: #fedb4f;"></i> <%= page_content.value %> <%= link_to 'More >', Settings.more_news_url %></p>
</div>
