<div class="modal" id="termsOfDepositModal" tabindex="-1" aria-labelledby="terms-of-deposit-prompt" aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row justify-content-between modal-header">
          <div class="col-5">
            <h1 class="modal-title h3" id="terms-of-deposit-prompt">Terms of Deposit</h1>
          </div>
          <div class="col-6">
            <ul class="row list-unstyled">
              <li class="col-4">
                <%= link_to Settings.faq_url, aria: {label: "FAQs about Terms of Deposit"}, id: "faq-link", class: "text-decoration-none", target: "_blank" do %>
                  <span class="fa-solid fa-question-circle"></span> FAQs
                <% end %>
              </li>
              <li class="col-4">
                <%= link_to Settings.terms_url, aria: {label: "Save Terms of Deposit"}, id: "print-link", class: "text-decoration-none", target: "_blank" do %>
                  <span class="fa-solid fa-save"></span> Save
                <% end %>
              </li>
              <li class="col-4">
                <%= link_to print_terms_of_deposit_path, aria: {label: "Print Terms of Deposit"}, id: "save-link", class: "text-decoration-none", target: "_blank" do %>
                  <span class="fa-solid fa-print"></span> Print
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-1">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      <div class="modal-body">
        <%= turbo_frame_tag :termsOfDeposit, src: terms_path, loading: "lazy" %>
      </div>
    </div>
  </div>
</div>
