<div class="modal" id="termsOfDepositModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row justify-content-between modal-header">
          <div class="col-7">
            <h3 class="modal-title" id="content-type-prompt">Terms of Deposit</h3>
          </div>
          <div class="col-2">
            <%= link_to Settings.terms_url, aria: { label: 'Save Terms of Deposit' }, id: 'print-link', class: 'text-decoration-none', target: '_blank' do %>
              <span class="fa fa-save"></span> Save
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to print_terms_of_deposit_path, aria: { label: 'Print Terms of Deposit' }, id: 'save-link', class: 'text-decoration-none', target: '_blank' do %>
              <span class="fa fa-print"></span> Print
            <% end %>
          </div>
          <div class="col-1">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      <div class="modal-body">
        <p>
          In depositing content to the Stanford Digital Repository (SDR), the Depositor grants The
          Trustees of Leland Stanford Junior University through the Stanford Libraries (Stanford
          Libraries) the non-exclusive, worldwide, perpetual, irrevocable right to reproduce, distribute,
          display and transmit such content (the Work), in whole or in part, in such print and electronic
          formats as may be in existence now or developed in the future, to sublicense others to do the
          same, and to preserve and store the Work, subject to any third-party release or display
          restrictions chosen by Depositor through Stanford Libraries’ deposit submission application.
          Stanford Libraries may make the Work available to users, subject to the applicable Terms of Use1
          and to any license applied by Depositor through Stanford Libraries’ deposit submission
          application. These Terms of Use are subject to change by Stanford Libraries; Stanford Libraries
          will make a reasonable effort to notify the Depositor when changes occur. More information is
          available at <a href="http://library.stanford.edu/research/stanford-digital-repository/depositor-services" target="_blank">http://library.stanford.edu/research/stanford-digital-repository/depositor-services</a>.
        </p>
        <p>
          Stanford Libraries is free to reformat, delete or remove access to any or all of the Work in the
          SDR at its discretion. If Stanford Libraries determines it is necessary to remove access to or
          delete permanently any specific Work or portions thereof, it will make a reasonable effort to
          notify the Depositor and make available a copy of the deleted file to Depositor (at Depositor’s
          expense), provided that (i) it has Depositor’s contact information on file; and (ii) it would be
          lawful in Stanford Libraries’ determination to do so. Depositor grants no other rights under this
          license, including, without limitation, any copyright interests in the Work.        
        </p>
        <p>
          Depositor represents and warrants that Depositor is the copyright holder of the Work, and/or has
          obtained all necessary permission of other copyright owner(s) to grant Stanford Libraries the
          rights required by this license or any applied license, including necessary licenses relating to any
          third party copyrighted content included in the Work, and any third-party software necessary to
          access, display, and run or print the Work. More specifically, Depositor warrants that any
          jointly-owned or third-party owned material, such as graphs, images, photos, music, etc., is
          clearly identified and acknowledged within the content of the Work, and Depositor is solely
          responsible and will indemnify Stanford Libraries for any third party claims related to the Work,
          including any third party content contained therein, as submitted.        
        </p>
        <p>
          Depositor further warrants that the Work does not violate any applicable law or agreement, or
          infringe upon anyone's publicity, privacy or confidentiality rights, including but not limited to
          privacy rights protected by HIPAA or FERPA. Depositor warrants that the Work does not
          contain any high risk data, including but not limited to Social Security Numbers, driver’s license
          numbers or bank account information. (More information is available at
          <a href="https://uit.stanford.edu/guide/riskclassifications" target="_blank">https://uit.stanford.edu/guide/riskclassifications</a>.)
          Depositor represents that depositing to the SDR does not violate an existing publication agreement,
          Institutional Review Board (IRB), or contract governing deposited content. If the content is original
          work derived from a source work produced and/or owned by a third-party, Depositor represents compliance
          with the terms of use associated with that source work.        
        </p>
        <p>
          Depositor agrees to indemnify and hold harmless Stanford against any third party claims
          (including those related to copyright, trademark or other intellectual property rights) arising out
          of or relating to Stanford's deposit, display or other use of the Work as permitted or authorized
          by this agreement.        
        </p>
        <p>
          <sup>[1]</sup> <small>Stanford Digital Repository Terms of Use: User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the depositor.</small>
        </p>
      </div>
    </div>
  </div>
</div>
