<div class="row justify-content-center">
  <div class="card col-md-10 col-lg-8 col-xl-7 col-xxl-6 mt-5 mb-5">
    <div class="card-body">
      <h5 class="card-title">Welcome!</h5>
      <p class="card-text">It looks like this is your first time here. Fill out the form below and we will help you get started.</p>
      <%= turbo_frame_tag :help_first, src: new_help_path(id: 'help_first') %>
    </div>
  </div>
</div>
