<div class="skippy overflow-hidden">
  <div class="container-xl">
    <a class="sr-only sr-only-focusable d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
  </div>
</div>

<header>
  <a href="https://stanford.edu/">Stanford</a> | <a class="repo-link" href="/">Digital Repository</a>
  <ul>
    <li><a href="#">Help</a></li>
  </ul>
</header>

<div class="container" role="presentation">
  <main id="#content">
    <h1>Make a deposit today!</h1>
  </main>
</div>

<footer>
  Stanford | Libraries
</footer>
