<main class="stanford-masthead mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        <img src="https://picsum.photos/300/300">
      </div>

      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-left">
        <h1 class="mb-3">Make a deposit today!</h1>
        <p class="lead mb-4">
          Request access from your student services coordinator, or if you need help,
            contact the SDR team
        </p>

        <div class="d-flex flex-column flex-md-row">
          <%= link_to 'Start here', dashboard_path, class: 'btn btn-primary btn-lg mb-3 mr-md-3' %>
        </div>
        <p class="text-muted mb-0">
           Not ready to deposit? Learn more about the process. It's a few simple steps and often takes less than 10 minutes
        </p>
      </div>
    </div>
  </div>
</main>
