#collection {
  margin-top: 1rem;
  max-width: 1140px;

  .title {
    margin-bottom: 1.5rem;

    .header-text {
      @extend h3;
    }

    .state {
      @extend .fst-italic;
      margin-left: 30px;
    }

    .deposit-button {
      float: right;
      margin-bottom: 5px;
    }
  }

  .table {
    p {
      // For citation and links
      margin-bottom: 0rem;
    }

    .table-title {
      font-weight: 700;
      font-size: large;
    }
  }

  // The pencil icon
  .edit {
    margin-left: 10px;
  }

  .collection-nav {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    .nav {
      .active {
        border-bottom: 3px solid black;
      }
    }
  }
}
