#dashboard {
  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .table {
    th {
      font-size: 14px;
      font-weight: 525;
    }

    caption {
      @extend header;
      caption-side: top;
      color: $body-color;
    }

    .work-title {
      width: 28%;
    }
  }

  .draft-tag {
    font-weight: bold;
    font-style: italic;
  }

  margin-top: 1rem;
  max-width: 1140px;
}

ul.collections {
  list-style-type: none;
  padding-left: 0;
}
