
.stanford-masthead {
  background-color: black;
  color: $white;
  height: 500px;  padding: 1rem 0;
  position: relative;

  h1, h2 {
    font-weight: 700;

    .stanford {
      font-weight: normal;
      font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
      padding-right: 1rem;
      border-right: 1px solid #f2f1eb;
    }

    .digital-repo {
      font-weight: 500;
      padding-left: 1rem;
      text-transform: uppercase;
    }
  }

  .btn-xl {
    padding: 0.5rem 8rem;
    font-size: 2rem;
  }

  .way-down {
    margin-top: $spacer * 8;
  }

  .credit {
    bottom: 10px;
    color: $white;
    font-size: 0.8rem;
    font-style: italic;
    position: absolute;
    text-decoration: none;
  }
}

.benefits {
  background-color: $stanford-cardinal;
  color: $white;
  ol {
    padding-left: 1rem;
  }
  .fa-ul {
    margin-left: 1.5rem;
  }

  .news {
    padding: 1rem;
    color: $body-color;

    h3 {
      color: $stanford-cardinal;
      font-weight: 700;
    }

    input:placeholder-shown {
       font-style: italic;
    }
  }

  a.btn {
    color: $white;
    border-color: $white;
  }
}

.whys {
  @extend .fw-lighter;
  @extend .fs-5;

  img {
    display: block;
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
  }
  .text-row {
    .col-md-3 {
      border-left: 1px solid $gray-400;
      padding: .7rem 2rem;

      &:first-child {
        border-left: 0;
      }
    }
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .footnote {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 2rem;
  }
}
