// Switch-style checkbox
// From https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button/39846603#39846603

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $silver-sand;
  -webkit-transition: .4s;
  transition: .4s;

  .on
  {
    display: none;
    color: white;
  }

  .off
  {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  .on, .off
  {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 11px;
    font-family: Verdana, sans-serif;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type=checkbox]:checked + .slider {
  background-color: $stanford-cardinal;
}

input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

input[type=checkbox]:checked + .slider .on
{display: block;}

input[type=checkbox]:checked + .slider .off
{display: none;}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}