<section class="mb-5 allCollections">
  <button class="btn collapse-header" data-bs-toggle="collapse" data-bs-target="#collectionsTable" role="button" aria-expanded="false" aria-controls="collectionsTable">
    All Collections
  </button>
  <table class="table table-sm table-striped collapse" id="collectionsTable" data-controller="datatable-collections">
    <thead class="table-light">
      <tr>
        <th>Collections</th>
        <th>Total</th>
        <th>Deposited</th>
        <th>1st Draft</th>
        <th>Version draft</th>
        <th>Pending</th>
        <th>Returned</th>
        <th>Reserved</th>
        <th data-type="date" data-format="MMM D, YYYY">Last modified</th>
      </tr>
    </thead>
    <tbody>
      <% stats.each do |collection, counts| %>
        <%= render Admin::AllCollectionsRowComponent.new(collection: collection, counts: counts) %>
      <% end %>
    </tbody>
  </table>
</section>
