<table class="table table-sm table-striped">
  <thead class="table-light">
    <tr>
      <th>Item Title</th>
      <th>Collection Title</th>
      <th>Activity</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render(Admin::ItemActivityRowComponent.with_collection(@events)) %>
  </tbody>
</table>
