<tr>
  <td><%= link_to title, work, target: "_top" %></td>
  <td><%= link_to collection_title, collection, target: "_top" %></td>
  <td><%= druid_without_namespace %></td>
  <td><%= sunetid %></td>
</tr>
