sdr_api:
  url: http://localhost:8080
  email: testing@example.org
  password: notusedanywhere

preservation_catalog:
  url: 'https://preservation-catalog-stage-01.stanford.edu'
  token: 'mint-token-with-target-preservation-catalog-rake-generate-token'

accountws:
  pem_file: /etc/pki/tls/certs/sul-h2-qa.stanford.edu.pem
  host: accountws-uat.stanford.edu

redis_url: redis://localhost:6379/

datacite:
  prefix: '10.80343'

# The HTTP_X_REMOTE_USER variable comes from our Apache config behind a reverse
# proxy, where we can't set or build upon REMOTE_USER. Instead, we set the
# X-Remote-User header and that is translated to the HTTP_X_REMOTE_USER
# environment variable. These are used by the devise-remote-user gem to
# authenticate users.
remote_user_headers:
  - REMOTE_USER
  - HTTP_X_REMOTE_USER

h2:
  hydrus_apo: 'druid:zx485kb6348'
  project_tag: 'H2'

earliest_year: 1000

external_links:
  what_is_a_doi: https://library.stanford.edu/research/stanford-digital-repository/documentation/purls-and-dois

# feature flag
allow_sdr_content_changes: true

authorization_group_header: HTTP_X_GROUPS
first_name_header: HTTP_X_PERSON_NAME
full_name_header: HTTP_X_PERSON_FORMAL_NAME

# mappings from authorization role to workgroup name
authorization_workgroup_names:
  administrators: 'dlss:hydrus-app-administrators'
  collection_creators: 'dlss:hydrus-app-collection-creators'

# See https://www.oclc.org/developer/develop/web-services/fast-api/assign-fast.en.html for more information
autocomplete_lookup:
  url: http://fast.oclc.org/fastIndex/select
  num_records: 10

file_uploads_root: tmp/uploads

faq_url: https://library.stanford.edu/research/stanford-digital-repository/terms-deposit
purl_url: https://purl.stanford.edu
terms_url: https://library.stanford.edu/research/stanford-digital-repository/documentation/sdr-terms-deposit
sdr_url: https://library.stanford.edu/research/stanford-digital-repository

host: <%= Socket.gethostname %>

rabbitmq:
  enabled: false
  hostname: localhost
  vhost: /
  username: guest
  password: guest

notifications:
  first_draft_reminder:
    first_interval: 14 # delay before initial first draft reminder, in days
    subsequent_interval: 28 # delay between reminders after the initial, also in days
  admin_email: h2-administrators@lists.stanford.edu

access:
  use_and_reproduction_statement: User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the depositor.

datacite:
  prefix: '10.80343'

# set to true in prod to send email to 'h2-administrators@lists.stanford.edu' when, e.g., a new collection is started
notify_admin_list: false
