sdr_api:
  url: http://localhost:8080
  email: testing@example.org
  password: notusedanywhere

redis_url: redis://localhost:6379/

# The HTTP_X_REMOTE_USER variable comes from our Apache config behind a reverse
# proxy, where we can't set or build upon REMOTE_USER. Instead, we set the
# X-Remote-User header and that is translated to the HTTP_X_REMOTE_USER
# environment variable. These are used by the devise-remote-user gem to
# authenticate users.
remote_user_headers:
  - REMOTE_USER
  - HTTP_X_REMOTE_USER

h2:
  hydrus_apo: 'druid:zx485kb6348'

# feature flag
allow_sdr_content_changes: true

authorization_group_header: HTTP_X_GROUPS
# mappings from authorization role to workgroup name
authorization_workgroup_names:
  administrators: 'dlss:hydrus-app-administrators'
  collection_creators: 'dlss:hydrus-app-collection-creators'
