sdr_api:
  url: http://localhost:8080
  email: testing@example.org
  password: notusedanywhere

preservation_catalog:
  url: 'https://preservation-catalog-stage-01.stanford.edu'
  token: 'mint-token-with-target-preservation-catalog-rake-generate-token'

globus:
  client_id: client_id
  client_secret: client_secret
  uploads_directory: /uploads/
  transfer_endpoint_id: endpoint_uuid
  help_doc_url: https://docs.google.com/document/d/10b7y3yZCOfyVJ_uP4l7QHbkILQKnfdJi9hj-MpmmdIk
  test_mode: false # for testing purposes in non-production only, simulates globus API calls
  test_user_valid: true # if test_mode=true, simulates the globus user is valid
  integration_mode: false # set to true for integration test
  integration_endpoint: 'integration_test/work388/version1'
  origins:
    stanford_gdrive: e1c8858b-d5aa-4e36-b97e-95913047ec2b
    oak: 8b3a8b64-d4ab-4551-b37e-ca0092f769a7
    sherlock: 6881ae2e-db26-11e5-9772-22000b9da45e

accountws:
  pem_file: /etc/pki/tls/certs/sul-h2-qa.stanford.edu.pem
  host: accountws-uat.stanford.edu

redis_url: redis://localhost:6379/

datacite:
  prefix: '10.80343'

# The HTTP_X_REMOTE_USER variable comes from our Apache config behind a reverse
# proxy, where we can't set or build upon REMOTE_USER. Instead, we set the
# X-Remote-User header and that is translated to the HTTP_X_REMOTE_USER
# environment variable. These are used by the devise-remote-user gem to
# authenticate users.
remote_user_headers:
  - REMOTE_USER
  - HTTP_X_REMOTE_USER

h2:
  hydrus_apo: 'druid:zx485kb6348'
  project_tag: 'H2'

earliest_year: 1000

external_links:
  what_is_a_doi: https://sdr.sites.stanford.edu/documentation/purls-and-dois
  license_help: https://sdr.sites.stanford.edu/documentation/license-options

# feature flags
allow_sdr_content_changes: true

authorization_group_header: HTTP_X_GROUPS
first_name_header: HTTP_X_PERSON_NAME
full_name_header: HTTP_X_PERSON_FORMAL_NAME

# mappings from authorization role to workgroup name
authorization_workgroup_names:
  administrators: 'dlss:hydrus-app-administrators'
  collection_creators: 'dlss:hydrus-app-collection-creators'

# See https://www.oclc.org/developer/develop/web-services/fast-api/assign-fast.en.html for more information
autocomplete_lookup:
  url: http://fast.oclc.org/fastIndex/select
  num_records: 10

ror_lookup:
  url: https://api.ror.org/organizations

file_uploads_root: tmp/uploads

faq_url: https://sdr.sites.stanford.edu/documentation/understanding-sdr-terms-deposit
purl_url: https://purl.stanford.edu
terms_url: https://sdr.sites.stanford.edu/documentation/understanding-sdr-terms-deposit
sdr_url: https://sdr.sites.stanford.edu/
newsletter_url: https://stanford.us20.list-manage.com/subscribe?u=139e1b2d3df8f8cacd77c8160&id=4f4148a871
stacks_file_url: https://stacks-test.stanford.edu/file

host: ~

rabbitmq:
  enabled: false
  hostname: localhost
  vhost: /
  username: guest
  password: guest

notifications:
  first_draft_reminder:
    first_interval: 14 # delay before initial first draft reminder, in days
    subsequent_interval: 28 # delay between reminders after the initial, also in days
  admin_email: h2-administrators@lists.stanford.edu

access:
  use_and_reproduction_statement: User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the depositor.

datacite:
  prefix: '10.80343'

# set to true in prod to send email to 'h2-administrators@lists.stanford.edu' when, e.g., a new collection is started
notify_admin_list: false
# set to false to stop sending all email
perform_deliveries: true

google_analytics: false

# checkin keys for honeybadger (actual keys are in shared_configs per environment as needed)
# see https://app.honeybadger.io/projects/77112/check_ins
honeybadger_checkins:
  work_reminder: null
  collection_reminder: null
  uploads_cleaner: null

mais_orcid:
  client_id: ~
  client_secret: ~
  base_url: https://mais-sandbox.stanford.edu

dor_services:
  url: https://dor-services-qa.stanford.edu
  token: secret-token
