datacite:
  username: SUL
  password: changeme
  host: api.test.datacite.org
  prefix: '10.25740'

sdr_api:
  url: http://localhost:8080
  email: testing@example.org
  password: notusedanywhere

redis_url: redis://localhost:6379/

# The HTTP_X_REMOTE_USER variable comes from our Apache config behind a reverse
# proxy, where we can't set or build upon REMOTE_USER. Instead, we set the
# X-Remote-User header and that is translated to the HTTP_X_REMOTE_USER
# environment variable. These are used by the devise-remote-user gem to
# authenticate users.
remote_user_headers:
  - REMOTE_USER
  - HTTP_X_REMOTE_USER

h2:
  hydrus_apo: 'druid:zx485kb6348'
  project_tag: 'H2'

earliest_year: 1000

# feature flag
allow_sdr_content_changes: true

authorization_group_header: HTTP_X_GROUPS
name_header: HTTP_X_PERSON_NAME

# mappings from authorization role to workgroup name
authorization_workgroup_names:
  administrators: 'dlss:hydrus-app-administrators'
  collection_creators: 'dlss:hydrus-app-collection-creators'

# See https://www.oclc.org/developer/develop/web-services/fast-api/assign-fast.en.html for more information
autocomplete_lookup:
  url: http://fast.oclc.org/fastIndex/select
  num_records: 10

file_uploads_root: tmp/uploads

faq_url: https://library.stanford.edu/research/stanford-digital-repository/terms-deposit
purl_url: http://purl.stanford.edu
terms_url: https://stanford.app.box.com/s/lozngarhdzj56z44la38v1zn3a1ggbyu

host: <%= Socket.gethostname %>

rabbitmq:
  enabled: false
  hostname: localhost
  vhost: /
  username: guest
  password: guest

notifications:
  first_draft_reminder:
    first_interval: 14 # delay before initial first draft reminder, in days
    subsequent_interval: 28 # delay between reminders after the initial, also in days

access:
  use_and_reproduction_statement: User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the depositor.
