<% @suggestions.each_with_index.map do |suggestion, i| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= suggestion.values.first %>" data-autocomplete-label="<%= suggestion.keys.first %>"><%= html_escape(suggestion.keys.first) %></li>
<% end %>
