<p>Dear Administrator,</p>

<p>The following new collection has been created in H2:</p>

<p><%= link_to @collection_version.name, collection_url(@collection_version.collection_id) %><br>
Created by <%= @creator.name %> <%= @creator.email %></p>

<p>The Stanford Digital Repository Team</p>
