.collection-editor {
  @include editor;

  .release-option, .license-option {
    .form-check {
      @include embargo;

      margin-bottom: 1.25rem;
    }

    .form-check-input {
      margin-top: .55rem;
    }

    label {
      margin: 0.25rem 0 0.4rem 0;
    }

    .form-select {
      width: auto;
    }

    .default_license {
      margin-left: 2.4rem;
    }
  }

  .terms-of-use {
    font-style: italic;
    margin-left: 2.5rem;
  }
}
