#dashboard {
  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .table {
    th {
      font-size: 14px;
      font-weight: 525;
    }

    caption {
      @extend header;
      caption-side: top;
      color: $body-color;
    }

    .work-title {
      width: 28%;
    }
  }

  input[type="radio"].toggle + label {
    font-size: smaller;
    line-height: 1;
    padding: 0.375rem 0.375rem;
  }

  .work-type-button-text {
    display: inline-block;
    max-width: 60%;
    vertical-align: middle;
  }

  margin-top: 1rem;
  max-width: 1140px;
}

ul.collections {
  list-style-type: none;
}
