#depositProgress {
  border: 1px solid $silver-sand;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;

  li {
    margin: 1px;
    flex-grow: 1;
    text-align: center;
    font-size: smaller;
    color: $body-color;

    &.active {
      background-color: $stanford-digital-green;
      color: $white;
    }
  }
}
