#editor {
  section {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $floral-white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .inner-container {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $silver-sand;
    margin: 1rem;
    padding: 1rem;

    .role-prefix {
      text-align: center;
      padding-top: 2rem;
    }
  }
}
@import 'depositProgress';

@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";

.dropzone {
  border: 1px dashed gray;

  &.dz-drag-hover {
    background-color: red;

    .dz-message {
      opacity: 0.9;
    }
  }
}
