#editor {
  section {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $stanford-fog-light;
    margin-bottom: 1rem;
    padding: 2rem;
    padding-left: 4rem;
  }

  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .inner-container {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $silver-sand;
    margin: 1rem;
    padding: 1rem;

    .role-prefix {
      text-align: center;
      padding-top: 2rem;
    }
  }

  .invalid-feedback {
    color: $stanford-digital-red;
  }
}

@import 'depositProgress';
@import "dropzone";
