#editor {
  section {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $stanford-fog-light;
    margin-bottom: 1rem;
    padding: 2rem;
    padding-left: 4rem;
  }

  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .inner-container {
    @extend .col-md-12;
    @extend .mb-3;
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $silver-sand;
    padding: 1rem;

    .role-prefix {
      text-align: center;
      padding-top: 2rem;
    }
  }

  .agreement {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .file-uploaded {
    color: $stanford-digital-green;
  }

  .release-option {
    align-items: center;
    display: flex;
    font-size: 20px;

    input[type="radio"]:not(:checked) + label {
      color: $btn-link-disabled-color;
    }
    input[type="radio"]:checked + label {
      font-weight: bold;
    }
    label {
      margin-right: 2rem;
    }
    * {
      margin-right: .3rem;
    }
  }

  #dates {
    .year, .month, .day {
      display: inline-block;
      vertical-align: top;
    }

    .year {
      width: 6rem;
      margin-right: 1rem;

      .invalid-feedback {
        white-space: nowrap;
      }
    }

    .month {
      width: 8rem;
      margin-right: 1rem;
    }

    .day {
      width: 4.9rem;
    }

    .date-range {
      display: flex;
      flex-wrap: wrap;

      .range-separator {
        width: 1.5rem;
        margin: .5rem;
        text-align: center;
      }
    }
  }

  .form-check .invalid-feedback::before {
    background-image: escape-svg($form-feedback-icon-invalid);
    background-repeat: no-repeat;
    background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    content: ""; // ::before and ::after both require content
    display: inline-block;
    left: 0;
    top: 5px;
    position: relative;
    width: 1rem;
    height: 1rem;
  }
}

@import 'depositProgress';
@import "dropzone";
@import "keywords";
