.keywords {
  .keywords-container {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }

  .keywords-container-open .keywords-dropdown {
    left: 0;
  }

  .keywords-container-open .selection {
    border-color: $input-focus-border-color;
    box-shadow: 0 0 0 $input-focus-width rgba($primary, $input-btn-focus-color-opacity);
  }

  .keywords-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;

    &.keywords-dropdown-above {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .keywords-results {
      display: block;
    }
  }


  .selection {
    @extend .form-control;

    .rendered {
        padding: 0;
    }

    .selection-choice {
      background-color: #e4e4e4;
      border: 1px solid #aaa;
      border-radius: 4px;
      display: inline-block;
      margin-left: 5px;
      margin-top: 5px;
      padding: 0;

      .remove {
        padding: 4px;
      }

      .choice-display {
        cursor: default;
        padding-left: 0px;
        padding-right: 5px;
      }
    }
  }

  .search {
    .search-field {
      background: transparent;
      border: none;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;
    }
  }
}
