$alabaster: #f2f1eb;
$silver-sand: #c0c0bf; // "30% black" in Stanford brand identity
$stanford-cardinal: #8c1515;
$stanford-cool-grey: #53565a; // used in SDR header (not yet added)
$stanford-digital-blue: #006cb8;
$stanford-digital-green: #008566;
$stanford-digital-red: #b1040e;
$stanford-fog-light: #f4f4f4;
$whisper: #eaeaea; // "10% black" in Stanford brand identity, used as modal bg color
