input[type="radio"].toggle {
  opacity: 0;
}

input[type="radio"].toggle:checked + label {
  border: 3px solid $primary;
  background-color: rgba($primary, 0.3);
  left: -1.5px;
  position: relative;
  top: -1.5px; /* keeps the button from moving when the border grows */

  .check {
    display: inline-block;
  }
  .uncheck {
    display: none;
  }
}

input[type="radio"].toggle:focus + label {
  border: 3px solid $primary;
  background-color: rgba($primary, 0.3);
  left: -1.5px;
  position: relative;  
  top: -1.5px;
}

input[type="radio"].toggle + label {
  @extend .btn;

  border: 1px solid gray;
  text-align: left;
  width: 90%;

  svg { /* font-awesome icon */
    vertical-align: middle;
  }

  svg.fa-mouse { /* font-awesome icon */
    vertical-align: top;
  }

  .check, .uncheck {
    font-size: larger;
    font-weight: bold;
    height: 1.5rem;
    overflow: hidden;
    padding-bottom: 2px;
    text-align: center;
    line-height: 1.2;
    vertical-align: middle;
    width: 1.5rem;
  }

  .check {
    display: none;
  }

  .uncheck {
    display: inline-block;
  }
}

[for="software, code"] {
  background-color: pink;
}
