.work-editor {
  @include editor;

  .agreement {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .file-uploaded {
    color: $stanford-digital-green;
  }

  .role-prefix {
    text-align: center;
    padding-top: 2rem;
  }

  .release-option {
    @include embargo;
    align-items: center;
    font-size: 20px;

    input[type="radio"]:not(:checked) + label {
      color: $btn-link-disabled-color;
    }
    input[type="radio"]:checked + label {
      font-weight: bold;
    }
    label {
      margin-right: 2rem;
    }
  }

  #dates {
    .year, .month, .day {
      display: inline-block;
      vertical-align: top;
    }

    .year {
      width: 6rem;
      margin-right: 1rem;

      .invalid-feedback {
        white-space: nowrap;
      }
    }

    .month {
      width: 8rem;
      margin-right: 1rem;
    }

    .day {
      width: 4.9rem;
    }

    .date-range {
      display: flex;
      flex-wrap: wrap;

      .range-separator {
        width: 1.5rem;
        margin: .5rem;
        text-align: center;
      }
    }
  }
}
