#work {

  header {
    margin-bottom: 1rem;

    .header-text {
      font-size: larger;
      font-weight: 700;
    }
  }

  .table {
    p {
      // For citation and links
      margin-bottom: 0rem;
    }

    .table-title {
      font-weight: 700;
      font-size: large;
    }
  }

  // The pencil icon
  .edit {
    margin-left: 10px;
  }
}
