#work {

  .approve {
    height: 15rem;
    background-color: $stanford-fog-light;
    padding: 3rem 0;
    header {
      @extend h4;
    }

    .toggle + label {
      @extend h5;
      padding: 1rem;
      width: 100%;
    }

    .reason {
      display: flex;
      align-items: center;
      input {
        margin-left: .5rem;
      }
    }
  }

  .title {
    margin-bottom: 1rem;

    .header-text {
      @extend h3;
    }

    .state {
      @extend .fst-italic;
      margin-left: 30px;
    }
  }

  .details {
    width: 80%;
    margin: auto;
  }

  .table {
    p {
      // For citation and links
      margin-bottom: 0rem;
    }

    .table-title {
      font-weight: 700;
      font-size: large;
    }
  }

  // The pencil icon
  .edit {
    margin-left: 10px;
  }
}

.work-editor {
  .version {
    background-color: $stanford-digital-pink;
    border-color: $stanford-cardinal;
    border-width: 3px;
  }
}