<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard">
    <section>
      <header>Your collections
        <% if allowed_to?(:create?, Collection) %>
          <%= link_to '+ Create a new collection', new_collection_path, class: "btn btn-outline-primary float-right" %>
        <% end %>
      </header>
      <% if @collections.present? %>
        <ul class="collections">
          <% @collections.each do |collection| %>
            <li>
              <div>
                <header><%= collection.name %></header>
                <%= link_to '+ Deposit to this collection', new_collection_work_path(collection), class: "btn btn-primary" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</main>
