<section data-controller="nested-form" id="author">
  <header>List authors and contributors *</header>
  <p>Enter the name(s) of people, organizations or events responsible for producing the deposit.</p>

  <%= render Wokes::AuthorsComponent.new(form: form) %>

  <%= render Wokes::ContributorsComponent.new(form: form) %>
</section>
