<section id="description">
  <header>Describe your deposit *</header>
  <p>Enter a summary statement about the deposit (600 words max) to help others
    discover your deposits in SearchWorks and on the internet. Add at least one
    keyword that relates to the content of the deposit.</p>

  <div class="mb-3 row">
    <div class="col-sm-2">
      <%= form.label :abstract, "Abstract *", class: "col-form-label" %>
      <%= render PopoverComponent.new key: "work.abstract" %>
    </div>
    <div class="col-sm-10">
      <%= form.text_area :abstract, class: "form-control", required: true, "aria-describedby": "popover-work.abstract" %>
      <div class="invalid-feedback">You must provide an abstract</div>
    </div>
  </div>
</section>
