<div class="mb-3 row">
  <%= form.label :access, "Who can download the files? *", class: "col-sm-3 col-form-label" %>
  <div class="col-sm-9">
    <%= form.select :access, [["Stanford Community", "stanford"], ["Everyone", "world"]], {disabled: "", prompt: "Select..."}, class: "form-select", required: true %>
  </div>
</div>
