<section data-controller="nested-form" id="author">
  <h2 class="h5 fw-bold">List authors and contributors *</h2>
  <p>Enter the name(s) of people, organizations or events responsible for producing the deposit.</p>

  <%= render Works::AuthorsComponent.new(form: form) %>

  <%= render Works::ContributorsComponent.new(form: form) %>
</section>
