<section data-controller="nested-form">
  <header>List authors and contributors *</header>
  <p>Enter the name(s) of people, organizations or events responsible for producing the deposit.</p>

  <%= render Works::AuthorsComponent.new(form: form) %>

  <%= render Works::ContributorsComponent.new(form: form) %>
</section>
