<div class="row">
  <ul id="depositProgress" class="col-lg-7">
    <li data-target="edit-deposit.file">File</li>
    <li data-target="edit-deposit.title">Title</li>
    <li data-target="edit-deposit.author">Author</li>
    <li data-target="edit-deposit.description">Description</li>
    <li data-target="edit-deposit.release">Release</li>
    <li data-target="edit-deposit.license">License</li>
  </ul>

  <div class="col-lg-5">

  </div>

</div>
