<div class="row">
  <ul id="depositProgress" class="col-lg-7">
    <li data-edit-deposit-target="file">File</li>
    <li data-edit-deposit-target="title">Title</li>
    <li data-edit-deposit-target="author">Author</li>
    <li data-edit-deposit-target="description">Description</li>
    <li data-edit-deposit-target="release">Release</li>
    <li data-edit-deposit-target="license">License</li>
  </ul>

  <div class="col-lg-5">

  </div>

</div>
