<div class="row">
  <ul id="depositProgress" class="col-lg-7">
    <li data-target="progress.file">1. File</li>
    <li data-target="progress.title">2. Title</li>
    <li data-target="progress.author">3. Author</li>
    <li data-target="progress.date">4. Date</li>
    <li data-target="progress.description">5. Description</li>
    <li data-target="progress.release">6. Release</li>
    <li data-target="progress.license">7. License</li>
  </ul>

  <div class="col-lg-5">

  </div>

</div>
