<div class="row">
  <ul id="depositProgress" class="col-lg-7">
    <li data-target="progress.file">File</li>
    <li data-target="progress.title">Title</li>
    <li data-target="progress.author">Author</li>
    <li data-target="progress.description">Description</li>
    <li data-target="progress.release">Release</li>
    <li data-target="progress.license">License</li>
  </ul>

  <div class="col-lg-5">

  </div>

</div>
