<section>
  <header>Manage release of this item for discovery and download after publication</header>
  <div class="mb-3 row">
    <%= form.label :access, 'Who can access?', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :access, [['Select...', ''], ['Stanford Community', 'stanford'], ['Everyone', 'world']], {}, class: "form-select" %>
    </div>
  </div>
</section>
