<div class="row my-5 mx-2 alert alert-danger">
  <div class="col-9">
     Click this button when you have completed setting up your Globus account and we will email you instructions on where to upload your files.
  </div>
  <div class="col-3">
     <%= render Works::GlobusSetupButtonComponent.new(work_version:) %>
  </div>
</div>
