<div class="mb-3 row plain-container">
  <div class="col-sm-9">
    <input class="search-field form-control" type="search" tabindex="0" autocorrect="off"
      data-keywords-target="search" autocapitalize="none" spellcheck="false"
      role="searchbox" aria-autocomplete="list" autocomplete="off"
      id="work_keywords"
      aria-describedby="keyword-container"
      data-action="change->keywords#add keypress->keywords#checkForEnter"
      aria-controls="keyword-results">

      <div class="col-sm-1">
      <%= button_tag type: 'button', class: 'btn btn-sm float-end', aria: { label: 'Remove' },
       data: { action: "click->nested-form#removeAssociation",
               plain: true } do %>
        <span class="far fa-trash-alt"></span>
      <% end %>
      <%= form.hidden_field :_destroy %>
    </div>  
  <div>
</div>
