<div class="mb-3 row plain-container">
  <div class="col-sm-6">
    <%= form.label :label, 'Keyword', class: 'col-form-label sr-only' %>
    <%= form.text_field :label, class: "form-control#{ 'is-invalid' if error?}", required: true %>
    <div class="invalid-feedback">Keyword must be filled in</div>
  </div>
  <% if not_first_keyword? %>
    <div class="col-sm-1">
      <%= button_tag type: 'button', class: 'btn btn-sm float-end', aria: { label: 'Remove' },
      data: { action: "click->nested-form#removeAssociation",
              plain: true } do %>
        <span class="far fa-trash-alt"></span>
      <% end %>
      <%= form.hidden_field :_destroy %>
    </div>
  <% end %>
</div>
