<section id="license">
  <header>Select a license</header>
  <div class="mb-3 row">
    <%= form.label :license, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :license,
                      grouped_options_for_select(License.grouped_options),
                      {}, class: "form-select" %>
    </div>
  </div>
  <hr>
  <p>In addition to the license, the following Terms of Use will also be displayed on your PURL page.</p>
  <p style="font-style: italic; margin-left: 2.5rem;">
    User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the Depositor.
  </p>
</section>
