<div class="modal fade" id="purlReservationModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="content-type-prompt"><label for="purl-reservation-title">Enter a title for this deposit</label></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="" data-purl-reservation-target="form">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="work[title]" data-purl-reservation-target="title" class="form-control" id="purl-reservation-title" required>
            <small class="form-text">You can update this later.</small>
            <input type="hidden" name="purl_reservation" value="true">
          </div>
        </div>

        <div class="modal-footer">
          <%= button_tag 'Submit', class: 'btn btn-primary' %>
          <%= button_tag 'Cancel',
                data: {
                  bs_dismiss: 'modal',
                  bs_target: '#purlReservationModal',
                  action: "purl-reservation#cancel"
                },
                class: 'btn btn-secondary' %>
        </div>
      </form>
    </div>
  </div>
</div>
