<div class="inner-container">
  <div class="row">
    <%= form.label :citation, 'Citation of related published work', class: 'form-label col-md-2' %>

    <div class="col-md-9">
      <%= form.text_area :citation, class: 'form-control',
                         data: { action: "no-newlines#change", no_newlines_target: 'input', controller: 'no-newlines' }
                          %>
    </div>

    <div class="col-md-1">
      <% if not_first_work? %>
        <%= button_tag type: 'button', class: 'btn btn-sm float-end', aria: { label: "Remove #{citation}" },
                       data: { action: "click->nested-form#removeAssociation" } do %>
          <span class="far fa-trash-alt"></span>
        <% end %>
        <%= form.hidden_field :_destroy %>
      <% end %>
    </div>
  </div>
</div>
