<section class="version">
   <header>Version your work *</header>
   <div class="mb-3 row">
     <%= form.label :description, "What's changing?", class: 'col-sm-2 col-form-label' %>
     <div class="col-sm-10">
       <%= form.text_field :description, class: "form-control", required: true %>
       <div class="invalid-feedback">You must describe your changes.</div>
     </div>
   </div>
 </section>
