<script>
  document.subtypes = <%= WorkType.to_json.html_safe %>
</script>

<div class="modal-header">
  <h5 class="modal-title" id="content-type-prompt">What type of content will you deposit?</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form method="get" action="/collections/1/work/new" data-work-type-target="form">
    <div class="row">
      <% types.each do |type| %>
        <div class="work-type-box">
          <%= render CheckboxButtonComponent.new(name: 'work_type', value: type.id, data: { action: "work-type#change" }) do %>
            <span class="fas fa-2x fa-<%= type.icon %>"></span> <div class="work-type-button-text"><%= type.label %></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <template data-work-type-target="template">
      <div class="col-md-4">
        <div class="form-check">
          <input type="checkbox" name="subtype[]" value="SUBTYPE_LABEL" id="subtype_SUBTYPE_ID" class="form-check-input">
          <label for="subtype_SUBTYPE_ID" class="form-check-label">SUBTYPE_LABEL</label>
        </div>
      </div>
    </template>

    <template data-work-type-target="templateHeader">
      <h5>Which of the following terms further describe your deposit?</h5>
    </template>

    <template data-work-type-target="otherTemplate">
      <div class="col-md-4">
        <input type="text" name="subtype[]" class="form-control" id="subtype_other">
      </div>
    </template>

    <template data-work-type-target="otherTemplateHeader">
      <h5>Specify "Other" type</h5>
    </template>

    <div class="row" data-work-type-target="area" hidden></div>

    <div class="row mb-4" data-work-type-target="subtype"></div>

    <button type="submit" class="btn btn-primary mx-auto d-block">Continue</button>
  </form>
</div>
