<script language='javascript'>
  window.onload = function() {
    window.print();
  }
</script>
<style>
  @media print {
    #closeWindow {
      display: none;
    }
  }
</style>
<a id="closeWindow" href="javascript:window.close();">Close window</a>
<h1>Terms of Deposit</h1>
<%= render 'terms/show' %>
