.collection-editor {
  @include editor;

  legend.participant-type + * {
    clear: none;
  }

  .release-option, .license-option {
    .form-check {
      @include embargo;

      margin-bottom: 1.25rem;
    }

    .form-check-input {
      margin-top: .55rem;
    }

    label {
      margin: 0.25rem 0 0.4rem 0;
    }

    .form-select {
      width: auto;
    }

    .default_license {
      margin-left: 2.4rem;
    }
  }

  .terms-of-use {
    font-style: italic;
    margin-left: 2.5rem;
  }

  .version {
    background-color: $ibis-white;
    border-color: $stanford-cardinal;
    border-width: 3px;
  }

  .participant-overlay {
    background-color: white;
    border: $toast-border-width solid $toast-border-color;
    box-shadow: $toast-box-shadow;
    padding: $toast-padding-x; // apply to both vertical and horizontal
    position: absolute;
    width: 100%;
    z-index: $zindex-tooltip;
    @include border-radius($toast-border-radius);
  }
}
