.caption-header > caption {
  caption-side: top;
  font-weight: 700;
  font-size: large;
  line-height: 1.5;
  @extend .table-light;
  background-color: var(--bs-table-bg);
  padding: 0.25rem;
}

/* hierarchy display in work show page table */
td.file-level {
  padding-left: var(--index);
}
