@import "dropzoneKeyframes";
.dropzone {
  @extend .form-control; // provides the is-invalid style

  margin: 20px 0;
  min-height: 90px;
  border: 1px dashed gray;
  background: white;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.dz-drag-hover {
    background-color: red;
    border-style: solid;

    .dz-message {
      opacity: 0.9;
    }
  }
  &.dz-clickable {
    cursor: pointer;
    * {
      cursor: default;
    }
    .dz-message {
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;

    .dz-button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer; }
.dropzone.dz-started .dz-message {
  display: none; }

.dropzone-previews {
  padding-top: 2rem;
}

.dz-preview {
  position: relative;
  vertical-align: top;
  min-height: 60px;

  .thumb {
    flex: 0 0 auto;
    width: 54px;
  }

  .dz-details {
    width: 8rem;
  }

  .form-check-input {
    margin-top: 0.75rem;
  }

  .dz-progress {
    border-radius: .2rem;
    pointer-events: none;
    height: 1rem;
    width: 8rem;
    background: $white;
    border: 1px solid gray;
    -webkit-transform: scale(1);
    overflow: hidden;

    .dz-upload {
      background: $stanford-digital-green;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      -webkit-transition: width 300ms ease-in-out;
      -moz-transition: width 300ms ease-in-out;
      -ms-transition: width 300ms ease-in-out;
      -o-transition: width 300ms ease-in-out;
      transition: width 300ms ease-in-out;
    }

    .dz-upload-success {
      background: $stanford-digital-green;
    }

    .dz-upload-error {
      background: $stanford-digital-red
    }
  }

  .dz-filename {
    white-space: nowrap;

    &:hover {
      span {
        background-color: white;
        position: relative;
        z-index: 100;
      }
    }
    &:not(:hover) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      border-radius: 3px;
    }
  }

  .dz-remove {
    cursor: pointer;
  }
}

.dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dz-preview .dz-success-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  display: block;}
.dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  display: none;}
.dz-preview .dz-success-mark svg, .dz-preview .dz-error-mark svg {
  display: block; }
.dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
.dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite; }
.dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: none;
  opacity: 0; }
