// Layout common to the collection-editor and work-editor
@mixin editor {
  section {
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: $stanford-fog-light;
    margin-bottom: 1rem;
    padding: 2rem;
    padding-left: 4rem;

    .inner-container {
      @extend .col-md-12;
      @extend .mb-3;
      border: 1px solid gray;
      border-radius: .25rem;
      background-color: $silver-sand;
      padding: 1rem;
      &.row {
        --bs-gutter-x: 0; // remove outdent
      }
    }

    // For authors/contributors
    section {
      background-color: $silver-sand;
      padding-left: 2rem;
      .inner-container {
        background-color: $stanford-fog-light;
      }
    }
  }

  header {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .form-check .invalid-feedback::before {
    background-image: escape-svg($form-feedback-icon-invalid);
    background-repeat: no-repeat;
    background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    content: ""; // ::before and ::after both require content
    display: inline-block;
    left: 0;
    top: 5px;
    position: relative;
    width: 1rem;
    height: 1rem;
  }
}
