$ibis-white: #f3e7e7; // light pinkish hue used in what's changing box

// https://identity.stanford.edu/design-elements/color/primary-colors/
$stanford-cardinal: #8c1515;
$stanford-cool-grey: #53565a; // used in SDR header (not yet added)
$tapa: #767674; // "60% black" in Stanford brand identity
$silver-sand: #c0c0bf; // "30% black" in Stanford brand identity
$whisper: #eaeaea; // "10% black" in Stanford brand identity, used as modal bg color

// https://identity.stanford.edu/design-elements/color/web/
$stanford-digital-blue: #006cb8;
$stanford-digital-green: #008566;
$stanford-digital-red: #b1040e;

// https://identity.stanford.edu/design-elements/color/accent-colors/
$stanford-fog-light: #f4f4f4;
$stanford-poppy: #e98300;

:root {
  --stanford-warning: #{$stanford-poppy};
}
