.work-types {
  .more-options {
    text-decoration: none;

    &:after {
      background-image: escape-svg($accordion-button-active-icon);
      background-repeat: no-repeat;
      background-size: 1rem;
      content: "";
      display: inline-block;
      height: 1rem;
      margin-left: 0.7rem;
      padding-left: 0.5rem;
      padding-bottom: 0;
      transition: transform .2s ease-in-out;
      width: 1rem;
    }

    &.collapsed:after {
      transform: rotate(-90deg);
    }
  }

  h6 {
    color: $stanford-digital-red;
    font-weight: bold;
  }

  input[type="radio"].toggle + label {
    font-size: smaller;
    line-height: 1;
    padding: 0.375rem 0.375rem;
  }

  .subtype-container {
    columns: 3;
    @include media-breakpoint-down(lg) {
      columns: 2;
    }
    @include media-breakpoint-down(sm) {
      columns: 1;
    }
  }

  .work-type-box {
    @extend .col-md-3;
    @extend .mb-5;
    @extend .mx-4;

    height: 2rem;
  }

  .work-type-button-text {
    display: inline-block;
    max-width: 60%;
    padding-left: 1rem;
    vertical-align: middle;
  }
}
