.work-editor {
  @include editor;

  .form-instructions {
    @extend header;
  }

  .file-uploaded {
    color: $stanford-digital-green;
  }

  .release-option {
    @include embargo;
    align-items: center;

    input[type="radio"]:checked + label {
      font-weight: bold;
    }
    label {
      margin-right: 2rem;
    }
  }

  #dates {
    .year, .month, .day {
      display: inline-block;
      vertical-align: top;
    }

    .year {
      width: 6rem;
      margin-right: 1rem;

      .invalid-feedback {
        white-space: nowrap;
      }
    }

    .month {
      width: 8rem;
      margin-right: 1rem;
    }

    .day {
      width: 4.9rem;
    }

    .date-range {
      display: flex;
      flex-wrap: wrap;

      .range-separator {
        width: 1.5rem;
        margin: .5rem;
        text-align: center;
      }
    }
  }

  .version {
    background-color: $ibis-white;
    border-color: $stanford-cardinal;
    border-width: 3px;
  }

  div.embargo-date {
    margin-bottom: 1rem !important;
  }

  // Specified separately so that overrides .work-editor section .inner-container in editor.scss
  .contributor-row.inner-container {
      padding-top: 1.5rem;
    }

  .contributor-row {
    legend {
      font-size: 1rem;
    }

    .person-identifier-row {
      padding-bottom: 1.5rem;
      margin-left: 0.8rem;
    }

    .form-text {
      padding-bottom: 1.5rem;
    }
  }

  .form-check-input-lg {
    margin-top: .5rem;
    scale: 1.4;
    margin-right: 0.7rem;
  }

  .form-check-label-lg {
    font-size: 1.25rem;
    font-weight: 700;
  }
}
