<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
      .red {
        background-color: #8c1515;
      }
      .sul-logo {
        margin: .5rem 1rem .2rem .5rem;
      }
      .sdr-logo {
        margin-top: 1rem;
      }
      main {
        margin-left: 1rem;
      }
    </style>
  </head>

  <body>
    <div class="red"><%= image_tag('StanfordLibraries-logo-whitetext.png', height: 32, class: 'sul-logo', alt: 'Stanford Libraries') %></div>
    <main>
      <div class="sdr-logo"><%= image_tag('sdr_color_logo.png', height: 32, alt: 'Stanford Digital Repository') %></div>
      <%= yield %>
    </main>
  </body>
</html>
